html, body {
	overflow: auto;
}

#extension-window {
	height: 600px;
	width: 800px;
	padding: .5rem;
	overflow-x: scroll;
}

table, th, td {
	text-overflow: ellipsis;
	border: 1px solid gray;
	padding: 10px;
	table-layout: fixed;
	white-space: nowrap;
	overflow: auto;
}

#main-panel {
	padding-top: .5rem;
}

#list-cells, #table-cells {
	padding: .5rem;
}

#dividing-line {
	padding-left: .5rem;
	padding-right: .5rem;
}

.header-text {
	font-weight: bold;
}

.icon-buttons {
	padding: .3rem;

}

.icon-image {
	height: 1.5rem;
	width: 1.5rem;
}

.icon-image:hover {
	filter: brightness(150%);
}

.list-cell-checkbox, .table-cell-checkbox, .table-cell-checkbox {
	text-align: center;
}

.icon-buttons-cell {
	text-align: center;
}