html, body {
	overflow: auto;
}

#extension-window {
	height: 600px;
	width: 800px;
	padding: .5rem;
	overflow-x: scroll;
}

table, th, td {
	text-overflow: ellipsis;
	border: 1px solid gray;
	padding: 10px;
	table-layout: fixed;
	white-space: nowrap;
	overflow: auto;
}

#main-panel {
	padding-top: .5rem;
}

#list-cells, #table-cells, #table-add-num-more-rows, #table-add-num-more-cols {
	padding: .5rem;
}

#dividing-line {
	padding-left: .5rem;
	padding-right: .5rem;
}

.header-text {
	font-weight: bold;
}

.icon-buttons {
	padding: .3rem;

}

.icon-image {
	height: 1.5rem;
	width: 1.5rem;
}

.icon-image:hover {
	filter: brightness(150%);
}

.list-cell-checkbox, .table-cell-checkbox, .table-cell-checkbox {
	text-align: center;
}

.icon-buttons-cell {
	text-align: center;
}

.divider {
	padding-left: .2rem;
	padding-right: .2rem;
}

#list-buttons, #table-buttons {
	padding: .5rem;
}

#table-buttons * {
	display: inline-block;
}

.toggleable {
	display: none;
	position: relative;
}

#table-search-all-dropdown-content, .green-dropdown-panel {
	display: none;
	position: relative;
	background-color: #2e9c32;
    min-width: 160px;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#table-search-all-dropdown-content a {
	display: block;
	color: white;
    padding: 12px 16px;
    text-decoration: none;
}

#table-search-all-dropdown-content a:hover {
	background-color: #257528;
}

.show {
	display: block;
}

form {
	padding: .5rem;
}

label {
	padding-left: .2rem;
	padding-right: .2rem;
}